@import "tailwindcss";


main {
  width: 100%;

}

::selection {
  background-color: #FFA1A1;
  color: #fff;
}

@font-face {
  font-family: 'NeueMachina-Light';
  src: url('./assets/Fonts/NeueMachina-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('./assets/Fonts/Helvetica-Bold.ttf') format('truetype');
}


@font-face {
  font-family: 'Helvetica';
  src: url('./assets/Fonts/helvetica-compressed-5871d14b6903a.otf') format('truetype');
}

@font-face {
  font-family: 'helvetica-rounded-bold';
  src: url('./assets/Fonts/helvetica-rounded-bold-5871d05ead8de.otf') format('truetype');
}

@font-face {
  font-family: 'Helvetica-Oblique';
  src: url('./assets/Fonts/Helvetica-Oblique.ttf') format('truetype');
}

main {
  width: 100%;
  overflow-x: hidden;
  cursor: none;
}

.custom-cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.cursor-dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.trail-segment {
  position: fixed;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle, rgba(230, 226, 226, 0.5) 0%, rgba(255, 255, 255, 0) 80%);
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;
}



.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-overly {
  background: rgb(10, 255, 100);
  filter: blur(30px);
  -webkit-filter: blur(80px);
  opacity: 60%;

}

.sec-overly {
  right: -12%;
  bottom: 0%;
}

.marquee {
  animation: marquee 10s linear infinite;
  padding-left: 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.contact-us-text {
  -webkit-text-stroke: 1px #22c55e;
  -webkit-text-fill-color: transparent;
}

.btn {
  position: relative;
  padding: 0.5rem 1.5rem;
  /* font-weight: 600; */
  font-size: 1rem;
  background: transparent;
  border-radius: 50px;
  border: 2px solid #f5f5f5;
  /* Replace $p-color with real value */
  color: white;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.btn::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 100px;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: green;
  /* Same as above */
  transition: 0.3s all ease-out;
  z-index: -1;
}

.btn:hover::after {
  top: 50%;
}
















@media (max-width: 900px) {
  nav {
    display: none;
  }
}