@import "tailwindcss";


main {
  width: 100%;

}

::selection {
  background-color: #FFA1A1;
  color: #fff;
}

@font-face {
  font-family: 'NeueMachina-Light';
  src: url('./assets/Fonts/NeueMachina-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('./assets/Fonts/Helvetica-Bold.ttf') format('truetype');
}


@font-face {
  font-family: 'Helvetica';
  src: url('./assets/Fonts/helvetica-compressed-5871d14b6903a.otf') format('truetype');
}

@font-face {
  font-family: 'helvetica-rounded-bold';
  src: url('./assets/Fonts/helvetica-rounded-bold-5871d05ead8de.otf') format('truetype');
}

@font-face {
  font-family: 'Helvetica-Oblique';
  src: url('./assets/Fonts/Helvetica-Oblique.ttf') format('truetype');
}