@import "tailwindcss";


main {
  width: 100%;

}

::selection {
  background-color: #FFA1A1;
  color: #fff;
}

@font-face {
  font-family: 'NeueMachina-Light';
  src: url('./assets/Fonts/NeueMachina-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('./assets/Fonts/Helvetica-Bold.ttf') format('truetype');
}


@font-face {
  font-family: 'Helvetica';
  src: url('./assets/Fonts/helvetica-compressed-5871d14b6903a.otf') format('truetype');
}

@font-face {
  font-family: 'helvetica-rounded-bold';
  src: url('./assets/Fonts/helvetica-rounded-bold-5871d05ead8de.otf') format('truetype');
}

@font-face {
  font-family: 'Helvetica-Oblique';
  src: url('./assets/Fonts/Helvetica-Oblique.ttf') format('truetype');
}

main {
  width: 100%;
  overflow-x: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-overly {
  background: rgb(10, 255, 100);
  filter: blur(30px);
  -webkit-filter: blur(30px);
  opacity: 50%;

}

.sec-overly {
  right: -12%;
  bottom: 0%;
}

.marquee {
  animation: marquee 10s linear infinite;
  padding-left: 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}